{% extends "header.html" %}

{% block body %}

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" style="margin-top: 20px">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
   <section id="about" class="about section-space-padding">
       <div class="container">
          <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Welcome to Ship!</h2>
                         <div class="divider dark">
               <i class="icon-emotsmile"></i>
              </div>
                        <p>Some shitty description for people tryna get others laid</p>
                    </div>
                </div>
            </div>

                     <div class="margin-top-30 margin-bottom-50">
           <div class="row">
           
             <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">   
                 
               <div class="row">
                  <form method=post class="contact-us pattern-bg" action ="/register">
                    
            <div class="col-sm-6">
            <div class="form-group">
              <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name">
             </div>
                        </div>

                
                       <div class="col-sm-6">
              <div class="form-group">
             <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name">
             </div>
                        </div>
                        
                        <div class="col-sm-6">
              <div class="form-group">
              <input type="email" id="email" name="email" class="form-control" placeholder="Your Email">
               </div>
                          </div>
                          
                        <div class="col-sm-6">
              <div class="form-group">
              <input type="text" id="birthday" name="birthday" class="form-control" placeholder="Birthday (MM/DD/YY)">
               </div>
                          </div>                          
           
            <div class="col-sm-6">
            <div class="form-group">
              <input type="text" id="password" name="password" class="form-control" placeholder="Password">
             </div>
                        </div>

            <div class="col-sm-6">
            <div class="form-group">
              <input type="text" id="confirmpassword" name="confirmpassword" class="form-control" placeholder="Confirm Password">
             </div>
                        </div>
                   
                   
                    <div class="text-center">      
                   <button type="submit" class="button button-style button-style-dark button-style-color-2">Save</button>
                    </div>
                       
                  </form>
                   
                </div>
        </div>
            </div>
           
        
        </div>
            
              </div>
              
            </div>
          </div>
       </section>

  
  <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="home">
  <ul>
  {% for t in TOPIC["Home"] %}
  <li><a href="{{t[1]}}">{{t[0]}}</a></li>
  {% endfor %}
  	
  </ul>
  
  
  </div>
  <div role="tabpanel" class="tab-pane fade" id="profile">Profile</div>
  
  <div role="tabpanel" class="tab-pane fade" id="messages">Messages</div>
  
  <div role="tabpanel" class="tab-pane fade" id="settings">Settings</div>
</div>

</div>


{% endblock %}